# The containers that compose the project
services:
  derailleur:
    image: postgres:15
    restart: always
    container_name: derailleur-postgresql
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: derailleur
  db_test:
    image: postgres:15
    container_name: derailleur_test
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: derailleur
    ports:
      - "5435:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d derailleur"]
      interval: 1s
      timeout: 5s
      retries: 20
